html
	head
		meta(charset="UTF-8")
		title Aaron Benjamin - Seattle UX Designer
		script(src="https://use.fontawesome.com/9774ccd0e0.js")
		link(rel="stylesheet", href="assets/style/main.css")
	body
		section.gradient
			#wrapper
				header.page-header
					h1 Aaron Benjamin
						small UX Designer
				main
					.hero
						img(src="assets/img/aaron-and-alice.jpg", alt="Picture of Aaron and his daughter Alice.") 
						p.big Hello. 
						p.little I design things for people to love.
						ul.social
							li: a(href="https://www.facebook.com/aaronbenjamindesign", title="Facebook", target="_blank"): i.fa.fa-facebook
							li: a(href="https://twitter.com/aBenjamin765", title="Twitter", target="_blank"): i.fa.fa-twitter
							li: a(href="https://dribbble.com/aBenjamin765"): i.fa.fa-dribbble
							li: a(href="#", title="Github", target="_blank"): i.fa.fa-github
							li: a(href="#", title="Medium", target="_blank"): i.fa.fa-medium
							li: a(href="#", title="Codepen", target="_blank"): i.fa.fa-codepen
							li: a(href="#", title="Email", target="_blank"): i.fa.fa-envelope
		section.showcase
			#wrapper
				h2 Meet Dummi...
				p.lead Dummi helps designers and developers bring their work to life with fictional data.
				a.action(href="#") See how Dummi was made
				img.screen-block(src="assets/img/screen-dummi.png", alt="")
				



		section.cards
			.card
				img(src="https://cdn.dribbble.com/users/195429/screenshots/2927705/header-withicons.gif", alt="")
				header Title
				p Hello...
				a(href="#") Hello World
			.card
				img(src="https://cdn.dribbble.com/users/195429/screenshots/2465152/girl-app.gif", alt="")
				header Title
				p Hello...
				a(href="#") Hello World
			.card
				img(src="https://cdn.dribbble.com/users/195429/screenshots/2349396/workflow2.gif", alt="")
				header Title
				p Hello...
				a(href="#") Hello World
			.card
				img(src="https://cdn.dribbble.com/users/195429/screenshots/2347149/login.gif", alt="")
				header Title
				p Hello...
				a(href="#") Hello World
						



		